<html>
  <body>
    <h2>Dear {{ user.first_name }} {{ user.last_name }} at "{{databag.account.name}}"</h2>
    <p></p>
    <p>Please be informed that new billing period started.</p>
    <p>Monthly recurring fees were successfully charged.</p>
    <p></p>
    <p>Current services list:</p>
    <table border="1" cellspacing="0" cellpadding="10">
      <thead>
        <tr>
          <th style="text-align: center;">Fee name</td>
          <th style="text-align: center;">Rate</td>
          <th style="text-align: center;">Quantity</td>
          <th style="text-align: center;">Discount</td>
          <th style="text-align: center;">Cost</td>
        </tr>
      </thead>
      <tbody>
       {% for service in databag.services.services_list %}
        <tr>
          <td style="text-align: left;">{{ service.name }}</td>
          <td style="text-align: center;">{{ databag.services.currency_sign }}{{ service.rate }}</td>
          <td style="text-align: center;">{{ service.quantity }}</td>
          <td style="text-align: center;">{{ databag.services.currency_sign }}{{ service.total_discount }}</td>
          <td style="text-align: center;">{{ databag.services.currency_sign }}{{ service.discounted_item_cost }}</td>
        </tr>
       {% endfor %}
        <tr>
            <td style="text-align: right;" colspan="4"><strong>Total services:</strong></td>
            <td style="text-align: center;"><strong>{{ databag.services.total_amount }}</strong></td>
        </tr>
      </tbody>
    </table>
    <br />
    <p>Current account balance: <strong>{{ databag.services.current_balance }}</strong></p>
    <p>Kind regards,</p>
    <p>{{ databag.reseller.name }}</p>
  </body>
</html>
