<br />
<h1 ALIGN=CENTER>АКТ оказания услуг </h1>
<h4 ALIGN=CENTER>по Договору № {{ doc_pref }}{{ doc_number }}-{{ doc_ind }} от {{ doc_date }}<br />
за оказанные услуги электросвязи за период: {{ start_date }} - {{ end_date }}</h4>
<br />
<table>
	<tr>
		<td width="50%" align="left">Санкт-Петербург</td>
		<td width="49%" align="right">{{ doc_date }}</td>
	</tr>
</table>
<br />
<h4 align=justify>%opername_head%, с одной стороны, и %name%, (далее — «Клиент»), с другой (далее — «Стороны»), составили настоящий Акт в том, что в соответствии с Договором об оказании услуг связи № %agrm% от %agrmdate%, заключенным между Сторонами (далее — «Договор»), %opername_sh% в указанный период оказал Клиенту Услуги:
</h4><br />
<table border="1">
	<tr>
		<td width="5%"><h4 align="center">№</h4></td>
		<TD WIDTH=44%><h4 align="center">Наименование услуги</h4></td>
		<TD WIDTH=8%><h4 align="center">Ед. Изм.</h4></td>
		<TD WIDTH=14%><h4 align="center">Кол-во</h4></td>
		<TD WIDTH=14%><h4 align="center">Цена %curr%.</h4></td>
		<TD WIDTH=14%><h4 align="center">Сумма %curr%.</h4></td>
	</tr>
</table>
<table border="1">
<!-- begin_services -->
<!-- begin_item -->
{% for fee_line in monthly_fees %}
        <tr>
                <td width="5%"><h4 align="center">%N%</h4></td>
                <TD WIDTH="44%">{{ fee_line.name }} {{ fee_line.period }}.{{ fee_line.month_pad }}.{{ fee_line.year }}</td>
                <TD WIDTH="8%"><h4 align="center">{{ fee_line.code_name }}</h4></td>
                <TD WIDTH="14%"><h4 align="center">{{ fee_line.quantity }}</h4></td>
                <TD WIDTH="14%"><h4 align="center">{{ fee_line.rate_brutto }}</h4></td>
                <TD WIDTH="14%"><h4 align="center">{{ fee_line.cost_brutto }}</h4></td>
        </tr>
{% endfor %}
<!-- end_item -->
<!-- end_services -->
        <tr>
               <td colspan="4" align="right" width="85%">Итого:</td>
                <td width="14%"><h4 align="center">{{ total_brutto }}</h4></td>
        </tr>
	<tr>
                <td colspan="4" align="right" width="85%">%ndstitle%НДС(%ndsper%%):</td>
                <td width="14%"><h4 align="center">{{ total_vat }}</h4></td>
        </tr>
 </table>
<br />Всего оказано услуг на сумму: %totalstr%, в т.ч. НДС(%ndsper%%) — %ndsstr%
<br /><br />
<h4 align="center">Указанные услуги полностью соответствуют условиям Договора. <br />
Клиент претензий к объему оказанных услуг и их качеству не имеет.</h4><br /><br />
<table>
	<TR>
		<TD WIDTH=50%>
			<h4 align="center">КЛИЕНТ<br /><br /><br />________________________<br /><br /><br />МП</h4>
		</TD>
		<TD WIDTH=49%>
			<h4 align="center">%opername_dov%<br /><br /><br />________________________<br />(%operdir%)<br /><br />МП</h4><p align="center">%vkagent%<br />%vkdover%</p>
		</TD>
	</TR>
</TABLE>
